In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords
import math as ma
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_20newsgroups
import string
from sklearn.naive_bayes import MultinomialNB,GaussianNB

##  Preprocessing of Raw Data

In [2]:
# loading of dataset
text=fetch_20newsgroups()

In [3]:
# feature name
print("\n\t  TARGET  NAMES \n\n",)
target_names=text.target_names
target_names

	  TARGET  NAMES

['alt.atheism',
 'comp.graphics',
 'comp.os.ms-windows.misc',
 'comp.sys.ibm.pc.hardware',
 'comp.sys.mac.hardware',
 'comp.windows.x',
 'misc.forsale',
 'rec.autos',
 'rec.motorcycles',
 'rec.sport.baseball',
 'rec.sport.hockey',
 'sci.crypt',
 'sci.electronics',
 'sci.med',
 'sci.space',
 'soc.religion.christian',
 'talk.politics.guns',
 'talk.politics.mideast',
 'talk.politics.misc',
 'talk.religion.misc']

In [4]:
x=text.data   
y=text.target

In [6]:
print("\n\n  LENGTH OF X :",len(x))
print("How input Data looks",pd.DataFrame(x).head(10))
pd.DataFrame(x).describe()

  LENGTH OF X : 11314
How input Data looks                                                    0
0  From: lerxst@wam.umd.edu (where's my thing)\nS...
1  From: guykuo@carson.u.washington.edu (Guy Kuo)...
2  From: twillis@ec.ecn.purdue.edu (Thomas E Will...
3  From: jgreen@amber (Joe Green)\nSubject: Re: W...
4  From: jcm@head-cfa.harvard.edu (Jonathan McDow...
5  From: dfo@vttoulu.tko.vtt.fi (Foxvog Douglas)\...
6  From: bmdelane@quads.uchicago.edu (brian manni...
7  From: bgrubb@dante.nmsu.edu (GRUBB)\nSubject: ...
8  From: holmes7000@iscsvax.uni.edu\nSubject: WIn...
9  From: kerr@ux1.cso.uiuc.edu (Stan Kerr)\nSubje...

                                                        0
count                                               11314
unique                                              11314
top     From: qman@casbah.acns.nwu.edu (Charlie Kuehma...
freq                                                    1

In [7]:
print("\n\n     Y : ",len(y))
print("\n\n",pd.DataFrame(y).head())
print("\n\n\t\t Describe \n\n\n\n")
pd.DataFrame(y).describe()

     Y :  11314


     0
0   7
1   4
2   4
3   1
4  14


		 Describe

                  0
count  11314.000000
mean       9.293000
std        5.562719
min        0.000000
25%        5.000000
50%        9.000000
75%       14.000000
max       19.000000

In [8]:
# split data 

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20, random_state=42)

In [9]:
#  Stopwords that are not usefull for training thats why i will remove stop word from data
stopword = { 'a', 'about', 'above', 'across', 'after', 'afterwards', 'again', 'against', 'all', 'almost', 'alone',
             'along', 'already', 'also', 'although', 'always', 'am', 'among', 'amongst', 'amoungst', 'amount',
             'an', 'and', 'another', 'any', 'anyhow', 'anyone', 'anything', 'anyway', 'anywhere', 'are', 'around',
             'as', 'at', 'back', 'be', 'became', 'because', 'become', 'becomes', 'becoming', 'been', 'before',
             'beforehand', 'behind', 'being', 'below', 'beside', 'besides', 'between', 'beyond', 'bill', 'both',
             'bottom', 'but', 'by', 'call', 'can', 'cannot', 'cant', 'co', 'con', 'could', 'couldnt', 'cry', 'de',
             'describe', 'detail', 'did', 'do', 'does', 'doing', 'don', 'done', 'down', 'due', 'during', 'each', 'eg',
             'eight', 'either', 'eleven', 'else', 'elsewhere', 'empty', 'enough', 'etc', 'even', 'ever', 'every', 'everyone',
             'everything', 'everywhere', 'except', 'few', 'fifteen', 'fify', 'fill', 'find', 'fire', 'first', 'five', 'for',
             'former', 'formerly', 'forty', 'found', 'four.8717561858780929)', 'from', 'front', 'full', 'further', 'get', 'give', 'go', 'had',
             'has', 'hasnt', 'have', 'having', 'he', 'hence', 'her', 'here', 'hereafter', 'hereby', 'herein', 'hereupon',
             'hers', 'herself', 'him', 'himself', 'his', 'how', 'however', 'hundred', 'i', 'ie', 'if', 'in', 'inc', 'indeed',
             'interest', 'into', 'is', 'it', 'its', 'itself', 'just', 'keep', 'last', 'latter', 'latterly', 'least', 'less',
             'ltd', 'made', 'many', 'may', 'me', 'meanwhile', 'might', 'mill', 'mine', 'more', 'moreover', 'most', 'mostly',
             'move', 'much', 'must', 'my', 'myself', 'name', 'namely', 'neither', 'never', 'nevertheless', 'next', 'nine',
             'no', 'nobody', 'none', 'noone', 'nor', 'not', 'nothing', 'now', 'nowhere', 'of', 'off', 'often', 'on', 'once',
             'one', 'only', 'onto', 'or', 'other', 'others', 'otherwise', 'our', 'ours', 'ourselves', 'out', 'over', 'own',
             'part', 'per', 'perhaps', 'please', 'put', 'rather', 're', 's', 'same', 's'
             'seems', 'serious', 'several', 'she', 'should', 'show', 'side', 'since', 'sincere', 'six', 'sixty', 'so', 
             'some', 'somehow', 'someone', 'something', 'sometime', 'sometimes', 'somewhere', 'still', 'such', 'system',
             't', 'take', 'ten', 'than', 'that', 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'thence', 'there',
             'thereafter', 'thereby', 'therefore', 'therein', 'thereupon', 'these', 'they', 'thickv', 'thin', 'third', 'this',
             'those', 'though', 'three', 'through', 'throughout', 'thru', 'thus', 'to', 'together', 'too', 'top', 'toward',
             'towards', 'twelve', 'twenty', 'two', 'un', 'under', 'until', 'up', 'upon', 'us', 'very', 'via', 'was', 'we',
             'well', 'were', 'what', 'whatever', 'when', 'whence', 'whenever', 'where', 'whereafter', 'whereas', 'whereby',
             'wherein', 'whereupon', 'wherever', 'whether', 'which', 'while', 'whither', 'who', 'whoever', 'whole', 'whom',
             'whose', 'why', 'will', 'with', 'within', 'without', 'would', 'yet', 'you', 'your', 'yours', 'yourself',
             'yourselves'}

In [10]:
#  nltk provide stop word 
stops=set(stopwords.words("english"))
len(stops)

179

In [11]:
len(stopword)

323

In [12]:
# update our stopword with nltk stopwords
stops.update(stopword)
len(stops)

374

In [13]:
# making list containing punctuation  and update with  stopwords
puntuation=list(string.punctuation)
stops.update(puntuation)
pd.DataFrame(puntuation).head(10)

   0
0  !
1  "
2  #
3  $
4  %
5  &
6  '
7  (
8  )
9  *

In [14]:
# length of final stopwords
len(stops)

406

In [15]:
# combination of punction an words ,we remove all the words which strat withh pun
pun=['!', '"', '#','$', '%', '&', "'",'(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<','=','>', '?','@','[', '\\', ']','^', '_', '`','{','|', '}', '~','0','1','2','3','4','5','6','7','8','9','\n','\t']

In [16]:
# it remove words that start with punction and number
def startwith(pun,word):
    count=0
    for i in pun:
        if  word.startswith(i):
            return 0
        elif i in word:
            return 0
    return 1

In [17]:
# create dictionary word as a keys 
dictionary={}
for each_file in x_train:
    for word in each_file.strip().split(" ") :
        if len(word)>=3:
            p=startwith(pun,word)
            if not word.lower() in stops and p:
                if word in dictionary:
                    dictionary[word]+=1
                else:
                    dictionary[word]=1

In [21]:
dict(list(dictionary.items())[0:10])

{'Nikon': 5,
 'lens': 19,
 'Dartmouth': 25,
 'Nikkor': 1,
 'accessories': 3,
 'bought': 246,
 'camera': 39,
 'Kong': 8,
 'years': 868,
 'ago': 265}

In [19]:
new_dict={}                             #this is the reverse sorted form of dictionary used above
for key,value in sorted(dictionary.items(),key=lambda item: item[1],reverse=True):
    new_dict[key]=value

In [20]:
dict(list(new_dict.items())[0:10])

{'article': 5076,
 'like': 3827,
 'people': 3297,
 'know': 3180,
 'think': 2883,
 'use': 2689,
 'University': 2670,
 'good': 2034,
 'make': 1905,
 'see': 1749}

In [22]:
p=list(new_dict.values())   # get all values of new_dic

In [24]:
# it gives number of words occur more than 10 times
c=0
for i in p:
    if i>=8:
        c+=1
c

11218

In [25]:
features=list(new_dict.keys())[:c]
features[0:20]

['article',
 'like',
 'people',
 'know',
 'think',
 'use',
 'University',
 'good',
 'make',
 'see',
 'want',
 'time',
 'new',
 'need',
 'used',
 'way',
 'say',
 'going',
 'really',
 'right']

## Training dataset

In [26]:
# create train data
def create_train_data(x_train,features):
    x_train_dataset=np.zeros((len(x_train),len(features)))
    for i in range(len(x_train)):
        for word in x_train[i].strip().split(" "):
            if word in features:
                x_train_dataset[i][features.index(word)]+=1
    return x_train_dataset

In [27]:
x_train_dataset=create_train_data(x_train,features)

In [28]:
print("\n\n\t\t\t\tTRAINING DATA\n")
print("\t\t\t\tSHAPE",x_train_dataset.shape)
pd.DataFrame(x_train_dataset).head()

				TRAINING DATA

				SHAPE (9051, 11218)

,0,1,2,3,4,5,6,7,8,9,...,11208,11209,11210,11211,11212,11213,11214,11215,11216,11217
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Create Testing Dataset

In [29]:
# create testing data
def create_test_data(x_test,features):
    x_test_dataset=np.zeros((len(x_test),len(features)))
    for i in range(len(x_test)):
        for word in x_test[i].strip().split(" "):
            if word in features:  
                x_test_dataset[i][features.index(word)]+=1
    return x_test_dataset

In [30]:
x_test_dataset=create_test_data(x_test,features)

In [31]:
print("\n\n\t\t\t\tTESTING DATA\n")
print("\t\t\t\tSHAPE",x_test_dataset.shape)
pd.DataFrame(x_test_dataset).head()

				TESTING DATA

				SHAPE (2263, 11218)

,0,1,2,3,4,5,6,7,8,9,...,11208,11209,11210,11211,11212,11213,11214,11215,11216,11217
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#  Fit training Data

In [32]:
def fit(x_train_dataset,y_train,features):              # this function is to train algorithm over training data
    result={}                                    #we will use dictionary and create nested dictionary where needed
    classes=set(y_train)
    
    for current_class in classes:                # acceccing all classes one by one 
        result[current_class]={}
        result["total"]=len(x_train_dataset)            # it will hold length of entire xx_train set
        current_class_rows=(y_train==current_class)            #fetching only current_class colums
        x_train_current=x_train_dataset[current_class_rows]           #spliting x_train for only current_class
        y_train_current=y_train[current_class_rows]            #spliting y_train for only current_class
        result[current_class]["count"]=len(x_train_current)   # it will hold count of current_class (it will be used at time of calculating probability)
        features_total=x_train_dataset.shape[1]                      #feature size is nothin but the columns of xx_train
        a=0
        for j in range(len(features)):
            result[current_class][j]=(x_train_current[:,j].sum())         #it will hold frequency of feature j
            a+=result[current_class][j]
        result[current_class]["Grand_total"]=a                            #it will hold count of entire words in current_class
        
    return result

In [33]:
result=fit(x_train_dataset,y_train,features)

## Prediction

In [34]:
def probability(dictionary,x,clas):                            # it returns the actual probability of input x over class clas
    
    count=ma.log(dictionary[clas]["count"])-ma.log(dictionary["total"])                      # it is probability of(y=class(clas))
    features_number=len(dictionary[clas].keys())-2                                           #total number of features
    for j in range(features_number):          # calculting the probabilty over each feature the later we will take log() sum of all            
        if(x[j]==0):                           #if input x have zero frequency over the feature so its probabiluty will not counted
            continue
        count_xj_in_feature_j=dictionary[clas][j] +1                        # it is the total frequency of feature j in class->clas
        count_clas_ele_in_feature=dictionary[clas]["Grand_total"]+ features_number     # it is total number of words in class->clas
        p=ma.log(count_xj_in_feature_j)-ma.log(count_clas_ele_in_feature)          #summing all small probabilities of all features
        count=count+p
    return count                                                                   # returning the probabilty

In [35]:
def singlecol(dictionary,x):        #singlecol gives the prediction(output) of single colum at a time
    
    best_prob=-1000                # giving any value to initialise best_prob
    best_cls=-1                    # giving any value to initialise best_cls
    classes=dictionary.keys()      #dictionary .keys have all the classes names
    val=True 
    for clas in classes:           # checking probabily on one class at a time 
        if clas=="total":          # total is not a class so ignore it
            continue
        clas_p=probability(dictionary,x,clas)        # clas_p will have probability of input x for class clas
        if(val or clas_p>best_prob):
            best_prob=clas_p
            best_cls=clas
        val=False
    return best_cls                 #returns the best_cls with maximum probability

In [36]:
# predict function
def predict(dictionary,x_test_dataset):
    y_pred=[]
    for x in x_test_dataset:
        pred=singlecol(dictionary,x)
        y_pred.append(pred)
    return y_pred

#    Testing of model without using sklearn Classifier (from scratch)

In [37]:
# FUNCTION CALL
my_pred=predict(result,x_test_dataset)

In [38]:
pd.DataFrame(my_pred).head(20)

     0
0    0
1    2
2    1
3   16
4   10
5    7
6   18
7    5
8    1
9   18
10   7
11   6
12   0
13   1
14  11
15  10
16   4
17   9
18  13
19   7

In [39]:
print("\n\n \t\tCLASSIFICATION  REPORT\n\n")
print(classification_report(y_test,my_pred))
print("\n\n \t\tCONFUSION MATRIX\n\n")
pd.DataFrame(confusion_matrix(y_test,my_pred))

 		CLASSIFICATION  REPORT


              precision    recall  f1-score   support

           0       0.74      0.87      0.80        97
           1       0.69      0.77      0.73       104
           2       0.77      0.77      0.77       115
           3       0.73      0.76      0.74       123
           4       0.81      0.78      0.79       126
           5       0.83      0.84      0.84       106
           6       0.77      0.73      0.75       109
           7       0.84      0.87      0.86       139
           8       0.90      0.86      0.88       122
           9       0.88      0.91      0.89       102
          10       0.97      0.90      0.93       108
          11       0.90      0.90      0.90       125
          12       0.82      0.82      0.82       114
          13       0.90      0.90      0.90       119
          14       0.92      0.89      0.90       127
          15       0.78      0.85      0.81       122
          16       0.90      0.90      0.90       121
          17       0.89      0.85      0.87       102
          18       0.78      0.85      0.82       107
          19       0.88      0.49      0.63        75

   micro avg       0.83      0.83      0.83      2263
   macro avg       0.83      0.83      0.83      2263
weighted avg       0.84      0.83      0.83      2263



 		CONFUSION MATRIX

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,84,0,0,0,0,0,0,0,0,1,0,0,0,1,0,6,0,0,4,1
1,0,80,4,3,0,10,1,1,1,0,0,0,0,2,0,1,0,0,1,0
2,0,11,88,9,3,3,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,4,10,93,6,1,4,0,0,0,0,0,3,1,0,0,0,1,0,0
4,1,2,5,8,98,1,3,1,0,0,0,0,5,1,0,0,0,0,1,0
5,0,7,4,0,1,89,1,0,1,0,0,1,1,0,0,1,0,0,0,0
6,1,1,1,5,3,0,80,6,1,0,0,2,5,1,2,0,1,0,0,0
7,1,0,0,1,1,0,5,121,3,1,0,1,1,1,1,0,1,1,0,0
8,0,1,0,0,2,0,2,7,105,1,0,1,0,0,1,1,0,0,1,0
9,0,0,0,0,1,0,2,1,0,93,3,0,0,0,0,2,0,0,0,0
10,0,0,0,0,0,0,1,0,1,7,97,0,0,0,1,0,0,0,1,0
11,1,0,0,1,0,2,0,0,1,0,0,113,3,0,0,0,2,1,1,0
12,0,2,2,6,4,0,1,2,0,1,0,1,93,1,0,0,1,0,0,0
13,1,1,0,0,1,1,0,0,0,0,0,3,0,107,2,2,0,0,1,0
14,0,5,0,0,0,0,0,0,2,1,0,0,2,0,113,1,0,0,3,0
15,6,1,1,0,0,0,2,0,0,0,0,0,0,1,2,104,1,2,1,1
16,2,0,0,0,0,0,0,4,0,1,0,0,0,0,0,0,109,0,5,0
17,2,0,0,1,1,0,0,0,0,0,0,1,1,1,0,3,0,87,3,2
18,4,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,3,5,91,1
19,11,1,0,0,0,0,1,1,1,0,0,1,0,1,1,13,3,1,3,37

In [40]:
# accuracy of my algorithm
accuracy_score(y_test,my_pred)

0.831639416703491

#  Testing of model using sklearn Classifier

In [41]:
clf=MultinomialNB()
clf1=GaussianNB()

In [42]:
clf.fit(x_train_dataset,y_train)   # fit data using MultinomialNB
clf1.fit(x_train_dataset,y_train)   # fit data using GaussianNB

GaussianNB(priors=None, var_smoothing=1e-09)

In [43]:
Mul_pred=clf.predict(x_test_dataset)     # Predict data using MultinomialNB
Gau_pred=clf1.predict(x_test_dataset)     # Predict data using GaussianNB

In [44]:
# Accuracy of MultinomialNB
accuracy_score(y_test,Mul_pred)

0.8294299602297834

In [45]:
#  Accuracy of GaussianNB
accuracy_score(y_test,Gau_pred)

0.7490057445868317

#  Input  data  from user

In [46]:
print("\n\tENTER SOMETHING\n")
inp=input().split(" ")

	ENTER SOMETHING

LatestISL 2019LifestyleBigg Boss 13Vanity DiariesTech and Auto Awards 2019LifeGoal Advisor AwardsHousingSwasth IndiaMission Paani Solution to Naga Political Issue Likely Soon: Nagaland CM Neiphiu RioSC Agrees to Hear DMK Plea Against EC Decision to Hold TN Rural Polls Without Completing Legal FormalitiesFadnavis Made Maha CM for 80 Hours to Save Rs 40,000 Crore Central Funds: BJP MP Anantkumar Hegde'Hope Fadnavis Won't Repeat Mistakes He Made as Maharashtra CM': Sena’s Fresh Salvo at BJP PrevNext NEWS18 » POLITICS2-MIN READ Solution to Naga Political Issue Likely Soon: Nagaland CM Neiphiu Rio Rio conveyed his appreciation to 'all negotiating parties for their magnanimity, spirit of understanding and foresightedness' to achieve a breakthrough in the Naga political talks PTIUpdated:December 1, 2019, 11:35 PM ISTfacebookTwitter Pocket Solution to Naga Political Issue Likely Soon: Nagaland CM Neiphiu RioRepresentative image  It's The Perfect Time To Invest Online: Read More olymp trade  Olymp Trade Helps Me Make Money Right From My Smartphone olymp trade Kohima: Nagaland Chief Minister Neiphiu Rio on Sunday greeted people on the occasion of the 57th Statehood Day, contending that the long-awaited solution to the vexed Naga political issue might be in sight.  Addressing people at Khouchiezie (Kohima local ground), where the India Reserve Battalion had organised a programme on the occasion, he said negotiations between Naga Political Groups and the Centre have concluded and people of the state were set to witness "history" very soon.   "We (Nagas) are on the verge of history being made; we could be very close to a final solution. Negotiations between the various Naga Political Groups and the Centre have concluded," he said.  Meanwhile, Governor R N Ravi, in his welcome address at the 20th Hornbill Festival here, said Nagaland is "on the the cusp of history", and a "new dawn" is beckoning for the state. Ravi is also the Centre's interlocutor for Naga peace talks.  Among others present at Khouchiezie were Deputy Chief Minister Y Patton, Chief Secretary Temjen Toy and a host of cabinet ministers. "We are filled with gratefulness today as we remember the visionary leaders who made sacrifices for Nagaland's statehood," the chief minister said.  Rio conveyed his appreciation to "all negotiating parties for their magnanimity, spirit of understanding and foresightedness" to achieve a breakthrough in the Naga political talks. "The long awaited solution to the Naga political issue seems to be within grasp and that fills us with anticipation and happiness. This should also make the Nagas realise that huge responsibility lies on them to ensure that every step taken is in the right direction," the chief minister stated.  He clarified that his "government was steadfast in its commitment to ensure progress and development of the people of the state in all spheres". Maintaining that agriculture continued to be the main occupation of the Nagas, he said the government had been promoting organic farming in the state as it would "double the income of the farmers".  "More than 1, 42,603 small and marginal farmers have been added to the list of PM-Kisan beneficiaries. An amount of about Rs 54.60 crore have been directly deposited to the individual accounts of the farmers," he said. Rio called upon the people of the state to work steadfastly towards making Nagaland one of the most admired and developed states of the country.

In [47]:
# convert user data into input format
test_data=np.zeros((1,len(features)))

for word in inp:
    if word in features:
        test_data[0][features.index(word)]+=1

In [48]:
own_pred=predict(result,test_data)
print("test is of type :",target_names[own_pred[0]])

test is of type : talk.politics.misc